/* ===========================================================================
\\\\\\\\\\\\\\\\\\\\\\\\\Pre-define-colors-start////////////////////////////////////
=========================================================================== */
.yellow-t{
    color: #ffed00 !important;
}
.yellow-b{
    background: #ffed00 !important;
}
.heading {
    margin-bottom: 22px;
}
.sreach_box input {
    border: 1px solid lightgray;
}
.sreach_box{
    position: relative;
}
.sreach_box i {
    color: lightgray;
    font-size: initial;
    position: absolute;
    left: -7px;
    top: -4px;
}
.sreach_box input {
    border-radius: 3px;
    color: lightgray;
    border: 1px solid lightgray;
}
.buttons {
    float: right;
}
.buttons a{
    border-radius: 3px;
}
.buttons a i {
    width: auto;
    font-size: 10px;
}
a.btn_light {
    margin-right:10px;
    padding: 10px 20px;
    color: #4b4b4b;
    background: #fff;
    box-shadow: 0px 4px 10px #cccccc;
}
a.btn_light i {
    margin: 0px 5px;
}
a.btn_dark {
    color: #fff;
    background: #000;
    padding: 10px 20px;
}
a.btn_dark i {
    margin: 0px 5px 0px 0px;
}
.sreach_box.col-md-6 {
    padding: 0px;
}






/* ===========================================================================
\\\\\\\\\\\\\\\\\\\\\\\\\Pre-define-colors-start////////////////////////////////////
=========================================================================== */



/* ===========================================================================
\\\\\\\\\\\\\\\\\\\\\\\\\Header-start////////////////////////////////////
=========================================================================== */








.notification-number{
    border-radius: 7px;
    border: 1px solid #61615e;
    padding: 2px 8px;
    color: #EA4D4D ;
}
.profile-icon{
font-size: 10px !important;
}





/* ===========================================================================
\\\\\\\\\\\\\\\\\\\\\\\\\Header-end////////////////////////////////////
=========================================================================== */
/* ===========================================================================
\\\\\\\\\\\\\\\\\\\\\\\\\responsive-start////////////////////////////////////
=========================================================================== */
@media(max-width: 1024px){
    .buttons {
        float: none;
        margin-top: 21px;
    }
}


