/* ===========================================================================
\\\\\\\\\\\\\\\\\\\\\\\\\Pre-define-classes-start////////////////////////////////////
=========================================================================== */

.pc-container {
    overflow: hidden !important;
}

.blue-t {
    color: #0053ff;
}

.border-seprator {
    margin-bottom: 2px;
}
.no-margin{
    margin: 0px !important;
}

.blue-b {
    background: #0053ff;
}
.table-btn-blue-b{
    background: #1a79ff;
}

.table-btn-purple-b{
    background: #b62fff;
}

.table-btn-red-b{
    background: #fb1c1c;
}

.table-btn-skine-b{
    background: #ff9940;
}

.dark-blue-b{
    background: #0051d0;
}
.dark-blue-t{
    color: #0051d0;
}

.bold-font {
    font-weight: bold !important;
}

/* .orange-t {
    color: #ff8600;
}

.orange-b {
    background: #ff8600;
} */

.black-t {
    color: black;
}

.black-b {
    background: black;
}

.orange-t {
    color: #e8561b;
}

.orange-b {
    background: #e8561b;
}

.orange-dark-b {
    background: #e8561b;
}

.orange-dark-t {
    color: #e8561b;
}

.pink-b {
    background: #fb1b57;
}

.pink-l {
    color: #fb1b57;
}
.girl-pink-b{
    background: #ff00cb;
}

.green-l {
    color: #0ac84b;
}

.green-b {
    background: #0ac84b;
}

.yellow-t {
    color: #ffb800 !important;
}

.yellow-b {
    background: #ffb800 !important;
}

.red-t {
    color: #d90a20 !important;
}

.red-b {
    background: #d90a20 !important;
}

.aliceblue {
    background: aliceblue;
}

.minus-padding {
    padding-top: -11px !important;
}

.relative {
    position: relative;
}

.close {
    margin: 0px !important;
    padding: 0px !important;
}

.apply-filter {
    background: none;
    border: none;
    outline: none;
    float: left;
    outline: none;
    border: none;
    border-radius: 3px;
    color: white;
    background: #0ac84b;
    padding: 4px 10px;
    font-weight: 600;
    border: 1px solid transparent;
    transition: 0.3s;
}

.apply-filter:hover {
    background: none;
    border: 1px solid #0ac84b;
    color: #0ac84b;
}

::-webkit-scrollbar {
    width: 0px;
}

.form-save-btn {
    background: none;
    outline: none;
    border: none;
    color: white;
    background: black;
    padding: 4px 10px;
    border-radius: 3px;
    font-weight: 600;
}

.form-previous-btn {
    background: none;
    outline: none;
    border: none;
    color: white;
    background: black;
    padding: 4px 10px;
    border-radius: 3px;
    font-weight: 600;
}

.step-form-close {
    background: none;
    float: left;
    outline: none;
    border: none;
    border-radius: 3px;
    color: #6a6a6a;
    background: #f2f2f2;
    padding: 4px 10px;
    font-weight: 600;
    border: 1px solid transparent;
    transition: 0.3s;
}

.step-form-close:hover {
    color: black;
    border: 1px solid black;
    background: none;
}

.remove-pb {
    padding-bottom: 0px !important;
}

.no-padding-l {
    padding-left: 4px;
}

.no-padding-r {
    padding-right: 4px;
}

.no-padding {
    padding: 0px !important;
}

.remove-mb {
    margin-bottom: 0px !important;
}

.no-margin-l {
    margin-left: 4px;
}

.no-margin-r {
    margin-right: 4px;
}

.no-marging {
    margin: 0px !important;
}

.shadow {
    box-shadow: 0px 4px 10px #cccccc;
}

.white-t {
    color: white;
}

.white-b {
    background: white;
}

.logo-lg {
    max-width: 45px !important;
    max-height: 27px !important;
    width: 100%;
    height: 100%;
    margin-left: 24px;
}

.bar-content-left {
    float: left;
    max-width: 211px;
    width: 100%;
}

.bar-content-right {
    float: right;
    max-width: 253px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\-switch-checkbox-\\\\\\\\\\\\\\\\\\\ */


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 22px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #1bca09;
}

input:focus+.slider {
    box-shadow: 0 0 1px #1bca09;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(13px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\-switch-checkbox-end\\\\\\\\\\\\\\\\\\\ */


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\fleet-dropdown-start\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.fleet-dropdown-checkbox {
    padding: 5px 5px 5px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fleet-dropdown-checkbox h6 {
    font-size: 16px;
    font-weight: bolder;
}

.fleet-dropdown-checkbox ul {
    padding: 0px !important;
    margin: 0px !important;
}

.fleet-dropdown-checkbox ul li {
    display: inline-block;
    margin-top: 12px;
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\square-check-box-start\\\\\\\\\\\\\\\\\\\\\ */

.fleet-dropdown-checkbox ul li input[type='checkbox'] {
    -webkit-appearance: none;
    position: relative;
    width: 18px;
    height: 18px;
    background: #fafafa;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #75787c;
}

.fleet-dropdown-checkbox ul li input[type='checkbox']::before {
    content: '';
    width: 13px;
    height: 13px;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 1px;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out 0s;
}

.fleet-dropdown-checkbox ul li input[type='checkbox']:checked::before {
    opacity: 1;
    visibility: visible;
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\square-check-box-end\\\\\\\\\\\\\\\\\\\\\ */

.fleet-dropdown-checkbox ul li h5 {
    font-size: 17px;
    color: #75787c;
    margin-left: 10px;
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\round-check-box-start\\\\\\\\\\\\\\\\\\\\\ */

.fleet-dropdown-checkbox ul li input[type='radio'] {
    -webkit-appearance: none;
    position: relative;
    width: 18px;
    height: 18px;
    background: #fafafa;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #75787c;
    border-radius: 50%;
}

.fleet-dropdown-checkbox ul li input[type='radio']::before {
    content: '';
    width: 13px;
    height: 13px;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out 0s;
}

.fleet-dropdown-checkbox ul li input[type='radio']:checked::before {
    opacity: 1;
    visibility: visible;
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\round-check-box-end\\\\\\\\\\\\\\\\\\\\\ */


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\fleet-dropdown-end\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\data-range-picker-start\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.daterangepicker .calendar-table {
    overflow-y: scroll !important;
}

.daterangepicker {
    z-index: 1 !important;
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\data-range-picker-end\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\price-range-start\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.main-price-range-container h6 {
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 35px;
}

.main-price-range-container {
    padding-right: 37px;
}

.slider-labels {
    margin-top: 10px;
}

.range-price-box {
    width: 100%;
    text-align: left;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    padding: 5px 10px;
    margin-top: 10px;
}

#slider-range-value1 {
    font-weight: bold !important;
    color: black;
}

#slider-range-value2 {
    font-weight: bold !important;
    color: black;
}


/* Functional styling;
   * These styles are required for noUiSlider to function.
   * You don't need to change these rules to apply your design.
   */

.noUi-target,
.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.noUi-target {
    position: relative;
    direction: ltr;
}

.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    /* Fix 401 */
}

.noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

.noUi-handle {
    position: relative;
    z-index: 1;
}

.noUi-stacking .noUi-handle {
    /* This class is applied to the lower origin when
     its values is > 50%. */
    z-index: 10;
}

.noUi-state-tap .noUi-origin {
    -webkit-transition: left 0.3s, top .3s;
    transition: left 0.3s, top .3s;
}

.noUi-state-drag * {
    cursor: inherit !important;
}

.noUi-base,
.noUi-handle {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/* Slider size and handle placement;
   */

.noUi-horizontal {
    height: 4px;
}

.noUi-horizontal .noUi-handle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    left: -7px;
    top: -7px;
    background-color: white;
}


/* Styling;
   */

.noUi-background {
    background: #D6D7D9;
}

.noUi-connect {
    background: black;
    -webkit-transition: background 450ms;
    transition: background 450ms;
}

.noUi-origin {
    border-radius: 2px;
}

.noUi-target {
    border-radius: 2px;
}

.noUi-target.noUi-connect {}


/* Handles and cursors;
   */

.noUi-draggable {
    cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
    cursor: n-resize;
}

.noUi-handle {
    cursor: default;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
    border: 1px solid #d6d6d6;
    position: relative;
}

.noUi-handle::before {
    position: absolute;
    top: -82%;
    left: 25%;
    content: '-';
    font-size: 29px;
}

.noUi-handle:active {
    border: 1px solid #000000;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    left: -7px;
    top: -7px;
}


/* Disabled state;
   */

[disabled].noUi-connect,
[disabled] .noUi-connect {
    background: #B8B8B8;
}

[disabled].noUi-origin,
[disabled] .noUi-handle {
    cursor: not-allowed;
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\price-range-end\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\filter-buttons-start\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.filter-apply {
    float: right;
}



/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\filter-buttons-start\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\header-switch\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.header-switch {
    position: absolute;
    right: 0;
    top: 27px;
}

.header-switch .slider.round {
    border-radius: 34px;
    background: #2f303a;
    border: solid 1px #686979;
}

.header-switch .slider::before {
    bottom: 2px;
}

.header-switch input:checked+.slider {
    background-color: #1bca09;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\header-switch\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\header-search-start\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.header-input {
    max-width: 200px;
    width: 100%;
    height: 30px;
    border: 1px solid #c3c3d1;
    margin-top: 20px;
    position: relative;
    margin-left: 30px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    overflow: hidden;
}

.header-input input {
    max-width: 170px;
    width: 100%;
    border: none;
    margin-left: 30px !important;
    background: none;
    outline: none;
    height: 100%;
}

.header-input i {
    position: absolute;
    top: 25%;
    left: 5%;
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\header-search-end\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\appex-chart-start\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.apexcharts-toolbar {
    display: none;
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\appex-chart-send\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\meter-chart-start\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.meter {
    max-width: 50px;
    width: 100%;
    position: absolute;
    left: 45%;
    bottom: 0;
}

.meter img {
    width: 100%;
    transform: rotate(50deg);
}

.meter-chart h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}

.meter-chart {
    position: relative;
}

.meter-chart::before {
    content: 'Bad';
    position: absolute;
    left: 45%;
    top: 42%;
    font-size: 26px;
    font-weight: bold;
}

.main-meter-container {
    padding: 0 20px;
}

#meterChart {
    width: 10px;
}

.meter-good {
    margin-top: 40px;
    width: 100%;
}

.meter-good ul {
    padding: 0px !important;
    margin: 0px !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.meter-good ul li {
    list-style: none;
    display: inline-block;
}

.good-img {
    max-width: 60px;
    width: 100%;
}

.good-img img {
    width: 100%;
}

.meter-good ul li h2 {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 0px !important;
    color: black;
}

.meter-good ul li h3 {
    font-size: 20px;
    margin-bottom: 0px !important;
    color: #989898;
}

.main-good-bad-container {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 100%;
}

.meter-bad {
    margin-top: 40px;
    width: 100%;
    float: right;
    text-align: right;
    flex-direction: row-reverse;
}

.meter-bad ul {
    padding: 0px !important;
    margin: 0px !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.meter-bad ul li {
    list-style: none;
    display: inline-block;
}

.bad-img {
    max-width: 60px;
    width: 100%;
}

.bad-img img {
    width: 100%;
}

.meter-bad ul li h2 {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 0px !important;
    color: black;
    text-align: left;
}

.meter-bad ul li h3 {
    font-size: 20px;
    margin-bottom: 0px !important;
    color: #989898;
    text-align: left;
}

.fleet-review h1 {
    font-size: 20px;
    font-weight: bold;
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\meter-chart-end\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\filter-drop-down-start\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.main-mega-dropdown,
.main-mega-dropdown2,
.main-mega-dropdown3,
.main-mega-dropdown4,
.main-mega-dropdown5,
.main-mega-dropdown6,
.main-mega-dropdown7 {
    position: absolute;
    top: 80%;
    max-width: 1100px;
    width: 100%;
    padding: 10px;
    background: white;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-30px);
    transition-duration: 0.3s;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\filter-drop-down-end\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\header-collapse-start\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.m-header {
    position: relative;
}

.collapse-header {
    position: absolute;
    top: 29px;
    left: 13px;
}

.collapse-header i {
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.uncollapse-header {
    position: absolute;
    top: 29px;
    left: 13px;
    display: none;
}

.uncollapse-header i {
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 20px;
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\header-collapse-end\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\modal-header-start\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.my-modal-header-1 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

button.close {
    color: black !important;
}

.PDF-Viewer {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(29, 29, 29);
    margin-left: 10px !important;
    margin-bottom: 0px !important;
}

.pdf-viwer-btns button {
    background: none;
    outline: none;
    border: none;
    color: white;
    background: black;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    border-radius: 3px;
    padding: 5px 10px;
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\modal-header-end\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\modal-body-start\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.pdf-modal-top-left h1 {
    font-size: 22px;
    font-weight: 500;
    color: #00a64d;
    margin-bottom: 5px !important;
}

.pdf-modal-top-left h2 {
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #3c3d4b;
}


.pdf-modal-top-right {
    max-width: 171px;
    height: 48px;
    width: 100%;
    text-align: center;
    float: right;
}

.pdf-modal-top-right img {
    width: 171px !important;
    text-align: center;
    float: right;
}

.my-modal-body {
    padding: 30px !important;
}

.magnus-img {
    width: 171px !important;
    float: right;
}

.bill-left {
    float: left;
}

.bill-left h1 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #27292d;
}

.bill-right h1 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #27292d;
    margin-top: 25px;
    text-align: right;
}

.bill-left h1 span {
    font-size: 17px;
    font-weight: bold;
}

.pdf-center h1 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #27292d;
    margin-bottom: 0px;
}

.pdf-center h1 span {
    font-size: 13px;
    font-weight: bold;
}

.pdf-center h2 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00a94e;
}

.pdf-table-th {
    font-family: Roboto;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #27292d;
    padding: 10px !important;
}

.pdf-table-td {
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    color: #27292d;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
}

.after-table-text h6 {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.77;
    letter-spacing: normal;
    text-align: right;
    color: #27292d;
}

.my-modal-content {
    max-width: 634px !important;
    width: 100% !important;
    margin: 0 auto;
}

.pdf-modal-footer-left h1 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #27292d;
}

.pdf-modal-footer {
    margin-top: 40px;
}

.pdf-modal-footer-left h1 span {
    font-size: 13px;
    font-weight: bold;
}

.pdf-modal-footer-right {
    text-align: right;
}

.pdf-modal-footer-right h2 {
    font-family: Roboto;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.77;
    letter-spacing: normal;
    text-align: right;
    color: #27292d;
    margin: 0px !important;
}

.signature {
    width: 82px !important;
    height: 49px !important;
}

.pdf-modal-footer-right h3 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: right;
    color: #27292d;
    margin: 0px;
}

.modal-footer-bottom {
    margin-top: 60px;
}

.modal-footer-bottom h6 {
    font-family: Roboto;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #92959f;
}



/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\modal-body-end\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\debit-credit\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */









/* ===========================================================================
\\\\\\\\\\\\\\\\\\\\\\\\\Pre-define-classes-end////////////////////////////////////




=========================================================================== */


/* ===========================================================================
\\\\\\\\\\\\\\\\\\\\\\\\\organizaton_list-start////////////////////////////////////
=========================================================================== */

.heading {
    margin-bottom: 22px;
}

.sreach_box {
    position: relative;
}

.sreach_box i {
    color: lightgray;
    font-size: initial;
    position: absolute;
    left: -7px;
    top: -4px;
}

.sreach_box input {
    width: 52%;
    border-radius: 3px;
    color: lightgray;
    border: 1px solid lightgray;
}

.buttons {
    float: right;
}

.buttons a {
    border-radius: 3px;
}

.buttons a i {
    width: auto;
    font-size: 10px;
}

a.btn_light {
    margin-right: 10px;
    padding: 8px 15px 8px 15px;
    color: #4b4b4b;
    /* box-shadow: 0px 4px 10px #cccccc; */
    max-width: 155px;
    width: 100%;
    border-radius: 17.5px;
    border: solid 1px #323841;
}

a.btn_light i {
    margin: 0px 5px;
}

a.btn_dark {
    color: #fff;
    background: #000;
    padding: 10px 20px;
}

a.btn_dark i {
    margin: 0px 5px 0px 0px;
}

.sreach_box.col-md-6 {
    padding: 0px;
}

.my_table {
    width: 100%;
}

.my_table table tbody tr th {
    padding: 14px 0px;
}

.table-map-icon i {
    border-radius: 5px;
    background-color: #ff598a;
    padding: 6px;
    bottom: 2px;
    color: white;
    cursor: pointer;
}

.card_my {
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
}

.card_my {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px 4px 0px 0px;
}

.card-body_my {
    flex: 1 1 auto;
    min-height: 1px;
}

.user-profile-list {
    background: #fff;
    box-shadow: none;
}

.card {
    border-radius: 0px 0px 4px 4px;
}

table.gridjs-table tbody>tr>td>span>a>img {
    width: 22px !important;
    height: 22px !important;
}

/* table.gridjs-table tbody > tr{
    background: #00a64d;
} */
table.gridjs-table {
    max-width: 100%;
    border-collapse: collapse;
    text-align: left;
    display: table;
    margin: 0;
    padding: 0;
    overflow: auto;
    table-layout: auto !important;
}

.my-custom-input-class {
    display: none !important;
}

input.gridjs-input {
    max-width: 198px;
    width: 100%;
    height: 35px;
    color: rgb(131, 131, 131);
    padding-left: 30px !important;
    border: 1px solid lightgray;
    border-radius: 17.5px !important;
    outline: none;
    line-height: 1.45;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.gridjs-container {
    overflow: visible;
    margin-top: -10px !important;
}

.gridjs-footer {
    display: block;
    position: relative;
    z-index: 5;
    padding: 12px 24px;
    background-color: #fff;
    box-shadow: none !important;
    border-radius: 0 0 0 0 !important;
    border-bottom-width: 1px;
    border-color: #e5e7eb !important;
    border-top: 4px solid #f0f2f8 !important;
}

.gridjs-container {
    padding: 0px !important;
}



table.my_table th {
    padding: 15px;
}

table.my_table tr,
td {
    padding: 15px;
    font-weight: 500;
    font-size: 14px !important;
}

table.my_table tr td a img {
    width: 22px;
}

.table-public-btn {
    width: 80px;
    height: 18px;
    border-radius: 3px;
    background: #0fc12e;
    color: #fff;
    font-size: 14px;
    /* padding: 1px 19px 0px 19px; */
    /* width: fit-content; */
    text-align: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-private-btn{
    width: 80px;
    height: 18px;
    border-radius: 3px;
    background: #ff7a09;
    color: #fff;
    font-size: 14px;
    /* padding: 1  px 19px 0px 19px; */
    /* width: fit-content; */
    text-align: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inprogres {
    width: 110px;
  height: 19px;
    border-radius: 4px;
    background-color: #ffa62e;
    color: #fff;
    font-size: 14px;
    /* padding: 1  px 19px 0px 19px; */
    /* width: fit-content; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.done-btn{
    width: 110px;
    height: 18px;
    border-radius: 4px;
    background-color: #0fc12e;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-adjust-btn{
    width: 93px;
    height: 34px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.table-complete-btn{
    width: 88px;
    height: 27px;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.pay-btn {
    width: 82px;
    height: 35px;
}

.pay-btn button {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.27);
    background-color: #0fc12e;
    text-align: center;
    color: #ffffff;
    font-family: Roboto;
    font-size: 13px;
    font-weight: bold;
}

.disable-pay-btn {
    width: 82px;
    height: 35px;
}

.disable-pay-btn button {
    width: 82px;
    height: 35px;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.27);
    background-color: #c6c6c6;
    text-align: center;
    color: #ffffff;
    font-family: Roboto;
    font-size: 13px;
    font-weight: bold;
    pointer-events: none;
}

tr.blod {
    background: aliceblue;
}

tr.blod td {
    font-weight: 700 !important;
}

.export-dropdown .dropdown-item {
    color: black !important;
    font-weight: 600;
}

.export-dropdown .dropdown-item:hover {
    color: black !important;
}

.margin-minus {
    margin-top: -42px;
}


/* ===========================================================================
\\\\\\\\\\\\\\\\\\\\\\\\\organizaton_list-end////////////////////////////////////
=========================================================================== */


/* ===========================================================================
\\\\\\\\\\\\\\\\\\\\\\\\\organizaton_managment-start////////////////////////////////////
=========================================================================== */

.sticker {
    max-width: 136px;
    width: 100%;
    height: 45px;
    margin: 0 auto;
    display: none;
}

.sticker img {
    width: 100%;
    height: 100%;
}

.apple-sticker {
    margin-left: -40px;
}

.play-store-sticker {
    margin-left: -16px;
}

.heading_Id {
    float: left;
}

.heading_Id p {
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9393a2;
}

.heading_Id p span {
    font-family: Roboto;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2e2e39;
    margin-left: 9px;
}

.card-head .col-md-4 {
    padding: 3px;
}

a.btn_light_1 p {
    padding: 8px 12px 0px;
    margin: 0px !important;
    color: gray;
    line-height: 1;
}

a.btn_light_1 i {
    float: right;
    font-size: smaller;
    color: black;
    padding: 0px;
}

a.btn_light_1 span {
    padding: 0px 12px 3px;
    font-size: 16px;
    color: #10b42b;
    font-weight: 600;
}

.sticker_1 {
    max-width: 240px;
    width: 100%;
    height: 50px;
    border-radius: 27px;
    box-shadow: 0 3px 6px 0 rgba(61, 73, 82, 0.22);
    border: solid 1px #f5f5f5;
    background-color: #ffffff;
    margin-left: -14px;
    padding: 0px 8px;
}

.e-logo {
    max-width: 104px;
    width: 100%;
    height: 104px;
    float: left;
}

.e-logo img {
    border-radius: 100%;
    width: 100%;
}

.logo-decription {
    margin-top: 4px;
    margin-left: 12px;
}

.logo_dec h5 {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2e2e39;
}

.dec .col-md-10 {
    padding-left: 0px;
}

.logo_dec h5 span {
    padding: 3px 6px;
    text-align: center;
    background: #ededed;
    font-size: 13px;
    color: #72747b;
    width: 114px;
    height: 22px;
    margin-left: 13px;
    border-radius: 11px;
    background-color: #ededed
}

.contact-info ul {
    padding: 0px;
    float: left;
    width: 100%;
    margin: 0px;
    margin-top: 5px;
}

.contact-info ul li {
    list-style: none;
    float: left;
    margin-left: 36px;
    font-size: 14px;
    font-weight: 500;
    color: #6d6d75 !important;
}

.contact-info ul li:first-child {
    margin-left: 0px;
}

.contact-info ul li:nth-child(1) img {
    max-width: 20px;
    width: 100%;
    height: 14px;
    margin-right: 2px;
    margin-top: -3px;
}

.contact-info ul li:nth-child(2) img {
    max-width: 17px;
    width: 100%;
    height: 18px;
    margin-right: 2px;
}

.contact-info ul li:nth-child(3) img {
    max-width: 22px;
    width: 100%;
    margin-right: 2px;
}

.basic-profile-info-box {
    width: 100%;
    margin-top: 30px;
}

.basic-profile-info-box h2 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2e2e39;
}

.basic-profile-info-box h3 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6d6d75;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-edit-heading {
    float: left;
}

.heading h1 {
    font-family: Roboto;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2e2e39;
    margin-bottom: 0px !important;
    /* margin-left: -12px; */
    padding: 0px !important;
}

.card-heading-and-edit-button {
    float: left;
    width: 100%;
}

.card-edit-heading h2 {
    font-size: 20px;
    font-weight: 700;
    color: #2e2e39;
}

.card-edit-btn {
    float: right;
}

.card-edit-btn a {
    color: black;
    font-size: 15px;
    font-weight: 700;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 4px;
    padding-right: 13px;
    background: #f3f3f3;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
}

.card-edit-btn a i {
    font-size: 17px;
    padding: 0px;
}

.sumary-heading {
    /* padding-left: 25px; */
}

body:not(.minimenu) .pc-sidebar .pc-submenu {
    padding-bottom: 2px !important;
}

.sumary-heading h1 {
    font-size: 17px;
    font-weight: bold;
    margin-top: 5px;
    float: left;
}

.subscription-plan-vehical {
    max-width: 90px;
    margin: 0 auto;
}

.subscription-plan-vehical img {
    width: 100%;
}

.subscription-plan-vehical-info {
    width: 100%;
    text-align: center;
    margin-top: 14px;
}

.subscription-plan-vehical-info h1 {
    font-family: Roboto;
    font-size: 28px;
    font-weight: bold;
    color: #099b3f;
    text-align: center;
}

.subscription-plan-vehical-info h2 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6d6d75;
    text-align: center;
}

.subscription-plan-vehical-info h3 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2e2e39;
    text-align: center;
}

.subscription-plan-vehical-info h3 span {
    font-size: 14px;
    font-weight: 500;
    color: #2e2e39;
}

.web-links-edit {
    width: 100%;
    margin-top: 15px;
}

.web-links-edit ul {
    margin: 0px;
    padding: 0px !important;
}

.web-links-edit ul li {
    list-style: none;
    display: inline-block;
}

.web-links-social-icons {
    float: right;
    width: 30px;
    margin-top: 4px;
}

.web-links-social-icons img {
    width: 100%;
}

.web-links-edit ul li h2 {
    font-size: 14px;
    font-weight: bold;
    margin: 0px !important;
}

.web-links-edit ul li h3 {
    font-size: 14px;
    margin: 0px !important;
}

.web-links-edit ul li h3 a {
    color: #5044c8;
    font-weight: bold;
}

.basic-profile-setting-content {
    width: 100%;
    margin-top: 40px;
}

.sreach_row {
    padding: 0px !important;
}

.basic-profile-setting-content h1 {
    font-size: 13px;
    color: #2e2e39;
    font-weight: bold;
}

.basic-profile-setting-content h2 {
    font-size: 12px;
    color: #6d6d75;
}

.fleet-search-icon {
    float: left;
}

.fleet-search-icon i {
    font-size: 14px;
}

.fleet-seacrh-field {
    max-width: 188;
    width: 100%;
}

.fleet-seacrh-field input {
    width: 100%;
    border: none;
    background: none;
    height: 100%;
}

.fleet-search-box {
    max-width: 50%;
    width: 100%;
    float: left;
    border: 1px solid black;
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\vehical-list\\\\\\\\\\\\\\\\\\\\\\ */

.vehical-card {
    max-width: 190px;
    width: 100%;
    width: 100%;
    height: 70px;
    border-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 20px 0px 20px 20px;
    float: left;
    position: relative;
}

.vehical-card-minus-left,
.vehical-card-minus-left2 {
    margin-left: -20px !important;
}

.vehical-card h2 {
    font-size: 12px;
    margin-bottom: 5px;
}

.vehical-card h3 {
    font-size: 22px;
    font-weight: bolder;
    margin: 0px !important;
}

.vehical-card i {
    position: absolute;
    right: 7px;
    top: 17px;
    font-size: 28px;
}

.clender {
    max-width: 260px;
    width: 100%;
    height: 50px;
    border-radius: 27px;
    box-shadow: 0 3px 6px 0 rgba(61, 73, 82, 0.22);
    border: solid 1px #f5f5f5;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 12px;
    float: right;
    padding: 0 14px;
    font-weight: bold;
}

.clender i {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

.table-battery {
    width: 50px;
    height: 26px;
    background-color: #ededed;
    position: relative;
    float: left;
    margin-right: 10px;
}

.battery-fill-green {
    width: 75%;
    height: 26px;
    background-color: #0ac84b;
    position: absolute;
    top: 0;
    left: 0;
}
.battery-death{
    width: 100%;
    height: 26px;
    background-color: #ff0500;
    position: absolute;
    top: 0;
    left: 0;
}

.table-percenteage {
    margin-top: 3px;
}

.battery-fill-orange {
    width: 50%;
    height: 26px;
    background-color: #ffa800;
    position: absolute;
    top: 0;
    left: 0;
}
.battery-fill-low-orange {
    width: 35%;
    height: 26px;
    background-color: #ff6900;
    position: absolute;
    top: 0;
    left: 0;
}
.battery-fill-low-red {
    width: 25%;
    height: 26px;
    background-color: #ff0500;
    position: absolute;
    top: 0;
    left: 0;
}

.table-percenteage p {
    margin: 0px !important;
    font-size: 14px;
    color: #2e2e39;
}

.table-edit-icons ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px !important;
    margin-left: -10px;
}

.table-edit-icons ul li {
    list-style: none;
    display: inline-block;
}

.table-invoice-icons ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px !important;
    margin-left: -10px;
}

.table-invoice-icons ul li {
    list-style: none;
    display: inline-block;
}

.edit-pencil {
    width: 22px;
    height: 22px;
}

.delet-bin {
    width: 22px;
    height: 22px;
    margin-left: 20px;
}

.edit-pencil {
    width: 22px;
}

.delet-bin {
    width: 22px;
    margin-left: 20px;
}

.view-invoice {
    width: 30px;
    height: 18px;
}

.invoice-download {
    width: 28px;
    height: 23px;
    margin-left: 20px;
}

.entries-pagination {
    padding-right: 36px;
}

.entries-pagination ul {
    margin: 0px !important;
    padding: 0px !important;
}

.entries-pagination ul li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
}

.entries-pagination ul li i {
    color: #bababa;
}

.pagination-number {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    background: #455964;
}

.pagination-number p {
    margin: 0px !important;
    color: white;
    font-size: 10px;
}

.show-entries {
    padding-left: 10px;
    margin-top: 2px;
}

.show-entries h2 {
    color: #2e2e39;
    font-size: 14px;
}

.show-entries h2 span {
    color: #2e2e39;
    font-size: 14px;
    font-weight: bold;
}

.e-skoot-notification {
    max-width: 526px;
    width: 100%;
    max-height: 174px;
    height: 100%;
    border-radius: 6px;
    box-shadow: 0 2px 12px 0 rgba(109, 134, 149, 0.16);
    background-color: #ffffff;
    overflow: hidden;
    position: absolute;
    transition: 0.4s;
    top: 40px;
}

.e-skoot-notification-content {
    width: 100%;
    height: 100%;
    border-left: 10px solid #04bc34;
    top: 0;
    padding: 30px 30px;
    position: relative;
}

.e-skoot-notification-content h1 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #21212a;
}

.e-skoot-notification-content h1 span {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #04bc34;
}

.e-skoot-notification-content h2 {

    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3a4048;
    width: 313px;
    height: 38px;
}

.witch-back-img {
    max-width: 18px;
    width: 100%;
    float: left;
    margin-top: -2px;
}

.witch-back-img img {
    width: 100%;
}

.switch-back-btn {
    max-width: 139px;
    width: 100%;
    border-radius: 3px;
    background-color: #f0f1f1;
    padding: 7px 9px;
    position: absolute;
    right: 30px;
    bottom: 30px;
    border: none;
    outline: none;
}

.switch-back-btn p {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #505659;
    margin: 0px !important;
}

.e-skoot-notification-content-close {
    position: absolute;
    right: 18px;
    top: 3px;
}

.e-skoot-notification-content-close i {
    color: #323841;
    font-size: 16px;
    opacity: 0.32;
    cursor: pointer;
}

.fleet-drop {
    padding-left: 15px !important;
}

/* ===========================================================================
\\\\\\\\\\\\\\\\\\\\\\\\\organizaton_managment-end////////////////////////////////////
=========================================================================== */


/* ===========================================================================
\\\\\\\\\\\\\\\\\\\\\\\\\Header-start////////////////////////////////////
=========================================================================== */

.notification-number {
    border-radius: 7px;
    border: 1px solid #61615e;
    padding: 2px 8px;
    color: #EA4D4D;
}

.profile-icon {
    font-size: 10px !important;
}

li.pc-item.pc-hasmenu.mt-2.active.pc-trigger {
    background: #3e3f49;
    border-radius: 3px;
}

li.pc-item.pc-hasmenu.mt-2 {
    background: #3e3f49;
    border-radius: 3px;
}

.header-profile-img {
    max-width: 130px;
    width: 100%;
    max-height: 130px;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

.header-profile-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.header-profile-content {
    width: 100%;
    text-align: center;
}

.header-profile-content h2 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
    color: #323740;
}

.header-profile-content h3 {
    font-size: 18px;
    font-weight: 500;
    color: #616672;
}

.header-profile-content h4 {
    font-size: 14px;
    font-weight: 500;
}

.header-profile-content h4 a {
    font-size: 14px;
    font-weight: 500;
    color: #8f9399;
}

.whats-new h2 {
    font-size: 25px;
    font-weight: 600;
    color: #323740;
}

.notification-boxes {
    padding: 16px 24px;
}

.notification-boxes h1 {
    font-size: 21px;
    font-weight: 600;
    color: black;
}

.notification-boxes h2 {
    font-size: 17px;
    color: rgb(27, 27, 27);
}

.notification-boxes h3 {
    font-size: 16px;
    color: #616672;
}

.notification-boxes p {
    margin: 0px !important;
    font-size: 18px;
}

.new-badge {
    width: 61px;
    max-width: 100%;
    padding: 1px;
    background: #7d3cf8;
    border-radius: 3px;
}

.new-badge p {
    color: white;
    font-size: 16px;
    margin: 0px !important;
    text-align: center;
}


/* ===========================================================================
\\\\\\\\\\\\\\\\\\\\\\\\\Header-end////////////////////////////////////
=========================================================================== */


/* ===========================================================================
\\\\\\\\\\\\\\\\\\\\\\\\\Page-tabs-start////////////////////////////////////
=========================================================================== */


/* Style the tab */

.page-tab {
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 20px;
}


/* Style the buttons that are used to open the tab content */

.page-tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #9c9ca7;
    font-weight: bold;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 3px solid transparent;
}


/* Change background color of buttons on hover */

.page-tab button:hover {
    border-bottom: 3px solid #616672;
}


/* Create an active/current tablink class */

.page-tab button.active {
    color: black;
    border-bottom: 3px solid black;
    font-weight: bold;
}

.sreach_box1 {
    position: relative;
    margin-left: 12px;
    float: left;
}

.sreach_box1 i {
    color: lightgray;
    font-size: initial;
    position: absolute;
    left: 0px;
    top: -2px;
}

.vehical-card-take-left {
    margin-left: 13px;
}

.sreach_box1 input {
    max-width: 198px;
    width: 100%;
    height: 35px;
    border-radius: 3px;
    color: rgb(131, 131, 131);
    padding-left: 30px !important;
    border: 1px solid lightgray;
    border-radius: 17.5px;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 7px;
    border-top: none;
    background: #f0f2f8;
    margin-top: -6px;
}

.tabcontent:nth-child(2) {
    display: block !important;
}

.tabcontent {
    animation: fadeEffect 1s;
}


/* Go from zero to full opacity */

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.role-dropdown a{
    font-weight: 500;
    display: block;
    padding: 8px 5px 5px 38px;
    background: #f1f1f1;
    max-width: 138px;
    width: 100%;
    font-size: 13px;
    height: 35px;
    color: #323841;
    border-radius: 3px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    float: left;
    margin-left: 10px;
}

.filter a {
    font-weight: 500;
    display: block;
    padding: 8px 5px 5px 38px;
    background: #f1f1f1;
    max-width: 144px;
    width: 100%;
    font-size: 13px;
    height: 35px;
    color: #323841;
    border-radius: 3px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    float: left;
    margin-left: 10px;
}

.role-dropdown a i{
    float: right;
    font-size: 10px;
    line-height: 0px;
    color: black;
    font-weight: bold;
}

.filter a i {
    float: right;
    font-size: 10px;
    line-height: 0px;
    color: black;
    font-weight: bold;
}

.filter-icon {
    position: absolute;
    top: 7px;
    width: 13px;
    height: 13px;
    left: 13px;
}

.filter-icon img {
    width: 100%;
    height: 100%;

}



/* tab-end */


/* ===========================================================================
\\\\\\\\\\\\\\\\\\\\\\\\\Page-tabs-end////////////////////////////////////
=========================================================================== */