/* ===========================================================================
\\\\\\\\\\\\\\\\\\\\\\\\\Pre-define-colors-start////////////////////////////////////
=========================================================================== */
.yellow-t{
    color: #ffed00 !important;
}
.yellow-b{
    background: #ffed00 !important;
}











/* ===========================================================================
\\\\\\\\\\\\\\\\\\\\\\\\\Pre-define-colors-start////////////////////////////////////
=========================================================================== */



/* ===========================================================================
\\\\\\\\\\\\\\\\\\\\\\\\\Header-start////////////////////////////////////
=========================================================================== */








.notification-number{
    border-radius: 7px;
    border: 1px solid #61615e;
    padding: 2px 8px;
    color: #EA4D4D ;
}
.profile-icon{
font-size: 10px !important;
}





/* ===========================================================================
\\\\\\\\\\\\\\\\\\\\\\\\\Header-end////////////////////////////////////
=========================================================================== */