



/* ===========================================================================
\\\\\\\\\\\\\\\\\\\\\\\\\add-organization-form////////////////////////////////////
=========================================================================== */

.step-form-overlay {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    background: rgba(65, 65, 65, 0.253);
    z-index: 9999 !important;
    float: left;
    pointer-events: none;
    opacity: 0;
    transition-duration: 0.4s;
}

.main-step-form-holder {
    max-width: 686px !important;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    float: right;
}

.main-step-form-container {
    width: 100%;
    max-width: 686px !important;
    background-color: #ffffff;
    position: absolute;
    right: -100%;
    height: 100%;
    overflow: scroll;
    padding: 20px 30px;
    transition-duration: 0.8s;
}

.add-organization-heading h2 {
    font-size: 22px;
    font-weight: bold;
}


/* Style the form */

#regForm {
    /* background-color: #ffffff; */
    margin: 0 auto;
    padding: 15px 0 100px 0;
    /* padding: 40px; */
    width: 100%;
    min-width: 300px;
}

.input-fields p select {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    height: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid lightgray;
}

.input-fields input {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    height: 100%;
    padding: 5px;
    border-radius: 3px;
    border: solid 1px #e6e6e6;
}

.gray-field input{
    border-radius: 4px;
    border: solid 1px #e6e6e6;
    background-color: #f2f2f2 !important;
}

.input-fields-url {
    margin: 0px !important;
    width: 100%;
    float: left;
}

.input-social-icons {
    float: right;
    width: 30px;
    margin-top: -16px;
}

.input-social-icons img {
    width: 100%;
}

.input-fields-url input {
    width: 92%;
    border: none;
    background: none;
    outline: none;
    height: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid lightgray;
    float: left;
}

.step-label {
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
}


/* Mark input boxes that gets an error on validation: */

input.invalid {
    /* background-color: #ffdddd; */
    border: 2px solid #ffbebe;
}


/* Hide all steps by default: */

.tab {
    display: none;
}

.step-container {
    display: inline-block;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Make circles that indicate the steps of the form: */

.step {
    padding: 7px;
    margin: 0 2px;
    /* background-color: #bbbbbb; */
    border: 1px solid black !important;
    border: none;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    display: inline-block;
    opacity: 0.5;
    text-align: center;
    cursor: pointer;
}

.step p {
    margin: 0px !important;
    color: black;
    font-weight: 600;
    font-size: 12px;
}

.step p span {
    margin-right: 4px;
    width: 13px;
    height: 13px;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    padding: 7px;
    border-radius: 50%;
    margin-top: 1px;
    font-size: 12px;
}


/* Mark the active step: */

.step.active {
    opacity: 1;
}


/* Mark the steps that are finished and valid: */

.step.finish {
    color: #4CAF50 !important;
    opacity: 1;
    border: 1px solid #4CAF50 !important;
}

.step.finish p {
    color: #4CAF50 !important;
    opacity: 1;
}

.step.finish p span {
    background-color: #4CAF50;
    color: white !important;
    opacity: 1;
}

.upload-image {
    max-width: 77px;
    max-height: 77px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
}

.upload-image img {
    width: 100%;
    border-radius: 50%;
}

.image-upload-field input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 2px solid white;
    display: inline-block;
    padding: 4px;
    background: black;
    border-radius: 50%;
    color: white;
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    bottom: 4px;
    right: 0px;
}

.input-fields ul {
    list-style-type: none;
    margin: 0px !important;
    padding: 0px !important;
}

.input-fields ul li {
    display: inline-block;
}

.input-fields ul li h6 {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: #6d6d75;
}
.input-fields p{
    position: relative;
}
.input-fields p i{
    position: absolute;
    right: 3px;
    border-radius: 5px;
    background-color: #ff598a;
    padding: 5px;
    bottom: 2px;
    color: white;
    cursor: pointer;
}
.input-fields p button{
    position: absolute;
    right: 3px;
    padding: 2px 10px;
    bottom: 2px;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    background-color: #4677ff;
    border: none;
    outline: none;
}

.company-details-checkbox label{
    color: #2e2e39;
    font-size: 17px;
    font-weight: 500;
}

.input-fields ul li input[type="checkbox"][id^="myCheckbox"] {
    display: none;
}

.input-fields ul li label {
    border: 2px solid rgb(221, 221, 221);
    padding: 15px;
    display: block;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-fields ul li label:before {
    background-color: yellow;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    /* border: 1px solid grey; */
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

label img {
    /* height: 100%; */
    width: 100%;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

.input-fields ul li :checked+label {
    border: none;
}

.input-fields ul li :checked+label:before {
    /* content: "✓"; */
    background-color: yellow;
    transform: scale(1);
}

.input-fields ul li :checked+label img {
    transform: scale(0.9);
    /* box-shadow: 0 0 5px #333; */
    /* z-index: -1; */
}

.web-links-seperator {
    width: 100%;
    margin: 20px 0;
}

.web-links-seperator h3 {
    font-size: 13px;
    color: #ababb0;
    font-weight: 600;
}

.main-form-btn-container {
    overflow: auto;
    margin-top: 50px;
}

.next-prev-btns {
    float: right;
}



/* ===========================================================================
\\\\\\\\\\\\\\\\\\\\\\\\\add-organization-form-end////////////////////////////////////
=========================================================================== */









.step-form-overlay {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    background: rgba(65, 65, 65, 0.253);
    z-index: 9999 !important;
    float: left;
    pointer-events: none;
    opacity: 0;
    transition-duration: 0.4s;
}

.main-step-form-holder {
    width: 100%;
    max-width: 500px;
    height: 100%;
    float: right;
}

.main-step-form-container {
    width: 100%;
    max-width: 500px;
    background: white;
    position: absolute;
    right: -100%;
    height: 100%;
    overflow: scroll;
    padding: 20px 30px;
    transition-duration: 0.8s;
}

.add-organization-heading h2 {
    font-size: 18px;
    font-weight: bold;
}


/* Style the form */

#regForm {
    /* background-color: #ffffff; */
    margin: 0 auto;
    padding: 15px 0 100px 0;
    /* padding: 40px; */
    width: 100%;
    min-width: 300px;
}

.input-fields p select {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    height: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid lightgray;
}

.input-fields input {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    height: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid lightgray;
}

.input-fields-url {
    margin: 0px !important;
    width: 100%;
    float: left;
}

.input-social-icons {
    float: right;
    width: 30px;
    margin-top: -16px;
}

.input-social-icons img {
    width: 100%;
}

.input-fields-url input {
    width: 80%;
    border: none;
    background: none;
    outline: none;
    height: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid lightgray;
    float: left;
}

.step-label {
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
}


/* Mark input boxes that gets an error on validation: */

input.invalid {
    /* background-color: #ffdddd; */
    border: 2px solid #ffbebe;
}


/* Hide all steps by default: */

.tab {
    display: none;
}

.step-container {
    display: inline-block;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Make circles that indicate the steps of the form: */

.step {
    padding: 7px;
    margin: 0 2px;
    /* background-color: #bbbbbb; */
    border: 1px solid black !important;
    border: none;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    display: inline-block;
    opacity: 0.5;
    text-align: center;
    cursor: pointer;
}

.step p {
    margin: 0px !important;
    color: black;
    font-weight: 600;
    font-size: 12px;
}

.step p span {
    margin-right: 4px;
    width: 13px;
    height: 13px;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    padding: 7px;
    border-radius: 50%;
    margin-top: 1px;
    font-size: 12px;
}


/* Mark the active step: */

.step.active {
    opacity: 1;
}


/* Mark the steps that are finished and valid: */

.step.finish {
    color: #4CAF50 !important;
    opacity: 1;
    border: 1px solid #4CAF50 !important;
}

.step.finish p {
    color: #4CAF50 !important;
    opacity: 1;
}

.step.finish p span {
    background-color: #4CAF50;
    color: white !important;
    opacity: 1;
}

.upload-image {
    max-width: 77px;
    max-height: 77px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
}

.upload-image img {
    width: 100%;
    border-radius: 50%;
}

.image-upload-field input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 2px solid white;
    display: inline-block;
    padding: 4px;
    background: black;
    border-radius: 50%;
    color: white;
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    bottom: 4px;
    right: 0px;
}

.input-fields ul {
    list-style-type: none;
    margin: 0px !important;
    padding: 0px !important;
}

.input-fields ul li {
    display: inline-block;
}

.input-fields ul li h6 {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: #6d6d75;
}

.input-fields ul li input[type="checkbox"][id^="myCheckbox"] {
    display: none;
}

.input-fields ul li label {
    border: 2px solid rgb(221, 221, 221);
    padding: 15px;
    display: block;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-fields ul li label:before {
    background-color: yellow;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    /* border: 1px solid grey; */
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

label img {
    /* height: 100%; */
    width: 100%;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

.input-fields ul li :checked+label {
    border: none;
}

.input-fields ul li :checked+label:before {
    /* content: "✓"; */
    background-color: yellow;
    transform: scale(1);
}

.input-fields ul li :checked+label img {
    transform: scale(0.9);
    /* box-shadow: 0 0 5px #333; */
    /* z-index: -1; */
}

.web-links-seperator {
    width: 100%;
    margin: 20px 0;
}

.web-links-seperator h3 {
    font-size: 13px;
    color: #ababb0;
    font-weight: 600;
}

.main-form-btn-container {
    overflow: auto;
    margin-top: 50px;
}

.next-prev-btns {
    float: right;
}









/* ===========================================================================
\\\\\\\\\\\\\\\\\\\\\\\\\add-fleet-form-start////////////////////////////////////
=========================================================================== */















/* ===========================================================================
\\\\\\\\\\\\\\\\\\\\\\\\\add-fleet-form-end////////////////////////////////////
=========================================================================== */

